.reviews-list {
  width: 100%;
  margin: 0 auto;
}
.reviews-list .reviews-header {
  font-family: BrownStd, sans-serif;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  margin: 60px 0 50px 0;
  width: 100%;
}
.reviews-list .list-reviews {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.reviews-list .reviews-header .reviews-about {
  color: #959595;
  font-size: 14px;
  font-family: BrownStdLight, BrownStd, sans-serif;
  text-align: center;
  line-height: 21px;
  width: 448px;
  margin: 18px auto;
}
.reviews-list h2 {
  color: #29292a;
  font-size: 24px;
  font-family: fortescue_pro, serif;
  font-weight: 600;
  display: block;
  margin: 0 0 12px;
}

@media only screen and (max-width: 488px) {
  .reviews-list .reviews-header .reviews-about {
    width: 100%;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 767px) {
  .reviews-list .reviews-header {
    margin: 36px 0 42px 0;
  }
  .reviews-list h2 {
    margin: 0 0 14px;
  }
  .reviews-list .reviews-header .reviews-about {
    margin: 20px auto;
  }
}
