.pagination {
  text-align: center;
  list-style: none;
  margin-top: 50px;
  padding: 0;
}
.pagination li {
  border-bottom: 0;
  display: inline-block;
}
.pagination span {
  padding: 0 13px;
  margin: 0 6px;
}
.pagination a {
  display: inline-block;
  padding: 5px;
  margin: 0 2px;
  cursor: pointer;
}
.pagination li.active a {
  border-bottom: 1px solid #959595;
  color: #959595;
  display: inline-block;
  padding: 5px;
  margin: 0 2px;
}
@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 30px;
  }
}
