.tabs .question-list p {
  font-size: 15px;
  font-family: 'BrownStd', sans-serif;
  line-height: 24px;
  margin: 38px 0 18px;
}

.tabs .question-list input,
.tabs .question-list textarea {
  margin: 0;
}

.tabs .question-list hr {
  border: 1px solid #e3e3e3;
  margin: 56px 0;
}

.tabs .question-list .disclaimer {
  color: #979797;
  font-size: 14px;
  font-family: BrownStd, sans-serif;
  display: block;
  margin-top: 12px;
}

.tabs .question-list .disclaimer .tooltip-content {
  left: 85%;
}
