.reviews-header .reviews-rating {
  justify-content: center;
}
.reviews-rating {
  display: flex;
}
.reviews-rating .star-rating {
  white-space: nowrap;
}
.reviews-rating .star-link {
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
}
.reviews-rating .star-average {
  border-right: 1px solid #e8e8e8;
  margin: 0 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews-rating .star-total {
  display: flex;
  align-items: center;
  justify-content: center;
}
