.reviews-list .review-item {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 37px;
  margin-bottom: 30px;
  list-style: none;
}
.reviews-list .review-item .review-content {
  display: flex;
  flex-wrap: wrap;
}
.reviews-list .review-details {
  border: 0;
  margin-right: 20px;
  padding-right: 20px;
  width: 60%;
}
.review-item .review-title {
  font-style: italic;
  margin: 15px 0;
}
.review-item .review-description {
  border-right: 1px solid #e8e8e8;
  padding-right: 20px;
  margin-right: 20px;
  width: 60%;
  order: 1;
}
.review-item .review-description p {
  color: #29292a;
  font-family: BrownStd, sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-align: left;
  margin: 0;
}
.reviews-list .review-meta {
  margin-top: 26px;
  order: 3;
}
.review-item .review-meta.desktop {
  display: inline-block;
}
.review-item .review-meta.mobile {
  display: none;
}
.review-item .review-product-detail,
.review-item .review-product-detail span {
  color: #959595;
  font-size: 14px;
  font-family: BrownStd, sans-serif;
}
.review-item .reviewer-detail {
  margin-top: 8px;
}
.review-item .reviewer-detail .name,
.review-item .reviewer-detail .location {
  white-space: nowrap;
}
.reviews-list .review-meta .reviewer-detail span {
  border-right: 2px solid #e8e8e8;
  color: #959595;
  font-size: 14px;
  font-family: BrownStd, sans-serif;
  text-transform: capitalize;
  vertical-align: middle;
  padding-right: 12px;
  margin-right: 12px;
  height: 18px;
}
.reviews-list .review-meta .reviewer-detail span.date {
  border: 0;
  margin-right: 0;
}
.reviews-list .review-meta .reviewer-detail span.fit-expert {
  border-left: 2px solid #e8e8e8;
  border-right: 0;
  color: #3566a0;
  font-family: BrownStd, sans-serif;
  padding-left: 12px;
  padding-right: 0;
  margin-right: 0;
}
.reviews-list .review-meta .reviewer-detail span.fit-expert:hover {
  cursor: pointer;
}
.reviews-list .review-meta .reviewer-detail span.fit-expert svg {
  vertical-align: top;
}
.reviews-list .review-fit {
  width: 32%;
  order: 2;
}
.reviews-list .read-more {
  display: none;
}
.reviews-list .review-item .read-more button {
  background: 0;
  border: 0;
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .reviews-list .review-item {
    display: flex;
    flex-direction: column;
  }
  .reviews-list .review-item.collapsed {
    padding-bottom: 0;
  }
  .reviews-list .review-item.collapsed .review-content {
    height: 150px;
    overflow: hidden;
  }
  .reviews-list .review-item.expanded .review-content {
    height: initial;
    overflow: initial;
  }
  .review-item .review-details {
    margin-bottom: 0;
    width: 100%;
  }
  .review-item .review-description {
    border: 0;
    margin-bottom: 26px;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
  }
  .review-item .review-meta {
    width: 100%;
    order: 2;
  }
  .review-item .review-meta.desktop {
    display: none;
  }
  .review-item .review-meta.mobile {
    display: inline-block;
    margin-top: 32px;
  }
  .review-item .review-fit {
    width: 100%;
    order: 1;
  }
  .reviews-list .read-more {
    display: inline-block;
  }
  .reviews-list .review-item .read-more button {
    color: #29292a;
    font-family: BrownStd, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
  }
  .reviews-list .review-item .read-more button .arrow-icon {
    margin-left: 10px;
  }
  .reviews-list .review-item .less,
  .reviews-list .review-item.expanded .more {
    display: none;
  }
  .reviews-list .review-item.expanded .less,
  .reviews-list .review-item .more {
    display: inline-block;
  }
  .reviews-list .review-item.expanded .read-more button .arrow-icon {
    transform: rotate(180deg);
  }
}
