.tabs .mg-textarea {
  width: 100%;
  font-family: 'BrownStd', sans-serif;
}

.tabs .mg-textarea textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-family: 'BrownStd', sans-serif;
  font-size: 15px;
  padding: 12px;
  margin: 5px 0;
  outline: none;
}
