.tabs {
  width: 80%;
  margin: 20px auto;
}

.tabs .tabs__labels {
  border-bottom: 1px solid #29292a;
  list-style-type: none;
  padding: 0 0 0 30px;
  margin: 0;
}

.tabs .tabs__labels li {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #29292a;
  font-family: 'BrownStd', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 16px;
  width: 110px;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.tabs .tabs__labels li.active {
  border: 1px solid #29292a;
  border-bottom-color: #fff;
}

.tabs .tabs__labels li:first-child {
  border-radius: 2px 0 0 0;
}

.tabs .tabs__labels li:last-child {
  border-radius: 0 2px 0 0;
}
