.likert-scale {
  display: inline-block;
  position: relative;
  padding: initial;
  margin-bottom: 20px;
  height: 50px;
}
.likert-scale:last-child {
  margin: 0;
}
.likert-scale label {
  font-size: 14px;
  font-family: BrownStd, sans-serif, Arial;
  margin-bottom: 8px;
  position: relative;
  left: -5px;
}
.likert-scale .line {
  background: #959595;
  position: relative;
  top: 6px;
  height: 1px;
  z-index: 0;
}
.likert-scale .dot {
  background: #29292a;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  margin-left: 0;
  height: 10px;
  width: 10px;
  z-index: 1;
}
.likert-scale .dot-points {
  position: relative;
  left: -3px;
  top: 4px;
}
.likert-scale .small-dot {
  background: #959595;
  border-radius: 100%;
  position: absolute;
  height: 5px;
  width: 5px;
}
.likert-scale .small-dot span {
  color: #797979;
  font-size: 12px;
  font-family: BrownStd, sans-serif, Arial;
  position: absolute;
  left: -30px;
  top: 15px;
  width: 80px;
}
.likert-scale .small-dot:first-child span {
  color: #797979;
  font-size: 12px;
  font-family: BrownStd, sans-serif, Arial;
  position: absolute;
  left: 0;
  top: 15px;
  width: 75px;
}
.likert-scale .small-dot:last-child span {
  color: #797979;
  font-size: 12px;
  text-align: right;
  font-family: BrownStd, sans-serif, Arial;
  position: absolute;
  left: initial;
  right: 0;
  top: 15px;
  width: 75px;
}

@media only screen and (max-width: 767px) {
  .likert-scale {
    padding: 0 0 0 4px;
  }
  .likert-scale .dot {
    margin-left: 1%;
  }
}
