.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip .tooltip-label {
  color: #3566a0;
  display: inline-block;
}
.tooltip .tooltip-label:hover,
.tooltip .tooltip-content a {
  cursor: pointer;
}
.tooltip .tooltip-label svg {
  vertical-align: middle;
  margin-left: 5px;
}
.tooltip .tooltip-content {
  background: #979797;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  left: 93.4%;
  top: 100%;
  min-width: 360px;
  margin-top: 1em;
  padding: 33px 24px;
  transform: translateX(-50%);
  opacity: 0.94;
  z-index: 1000;
}
.tooltip .tooltip-content:after {
  border: solid transparent;
  border-bottom-color: #979797;
  border-width: 10px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  content: ' ';
  height: 0;
  width: 0;
  margin-left: -10px;
  pointer-events: none;
}
.tooltip.is-visible .tooltip-content {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
  visibility: visible;
}
.tooltip.is-hidden .tooltip-content {
  transform: translateY(100%) translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
